.app {
  margin-left: 10px;
  margin-right: 10px;

  --table-td-border-color: black;
  --table-td-hover-background-color: azure;
  --table-td-active-background-color: greenyellow;

  td {
    border: 1px solid var(--table-td-border-color);
  }

  td:hover {
    background-color: var(--table-td-hover-background-color);
  }

  .companies-container {
    display: flex;
    gap: 30px;
  }

  .company-dashboard-table {
    width: 250px;

    .active,
    .active td:hover {
      background-color: greenyellow;
    }
  }
}
