.app {
  margin-left: 10px;
  margin-right: 10px;
}

td {
  border: 1px solid black;
}

td:hover {
  background-color: azure;
}

.search-and-dashboard-wrapper {
  display: flex;
  gap: 30px;
}

.search-bar h2 {
  margin-top: 0px;
}